src/*.exe
src/muskcoin
src/muskcoind
src/test_muskcoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.muskcoin

# Compilation and Qt preprocessor part
*.qm
Makefile
muskcoin-qt
Muskcoin-Qt.app

# Unit-tests
Makefile.test
muskcoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
